.hero {
    width: 100%;
    min-height: 700px;
    margin-block: $margin-y;

    // .hero__content

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-flow: row wrap;
            text-align: center;
            justify-content: center;
            row-gap: 20px;
            padding: 21px 8px;
        }
    }

    // .hero__text

    &__text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    // .hero__text--title

    &__text--title {
        font-size: 44px;
        line-height: 66px; 
        font-weight: 600;
        text-align: left;
        letter-spacing: 0;
        max-width: 482px;
        text-align: left;
        margin-block: 21px;
        @include mobile {
            font-size: 28px;
            line-height: 32px;
            letter-spacing: 0;
            max-width: 98vw;
            text-align: center;
            
           
        }

    }

    // .hero__text--subtitle

    &__text--subtitle {
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0;
        font-weight: 400;
        text-align: left;
        max-width: 500px;
        min-height: 56px;
        margin-bottom: 32px;
        @include mobile {
            max-width: 315px;
            min-height: 84px;
        }
    }

    // .hero__profile

    &__profile {
        width: 494px;
        height: 612px;
        @include tablet-b {
            width: calc(494px / 1.618);
            height: calc(612px / 1.618);
        }
        @include mobile {
            width: 296px;
            height: 367px;
        }
    }
}

